.alert {  
   padding: 1.25rem 1.25rem 1rem 1.75rem; 
   border-left-width: .5rem;
   border-left-style: solid;
   

   // Colors

   &.informative {
     background-color: $theme-color-info-lighter; 
     border-left-color: $theme-color-info;    
   }

   &.warning {
     background-color: $theme-color-warning-lighter; 
     border-left-color: $theme-color-warning; 
   }

   &.error {
     background-color: $theme-color-error-lighter;
     border-left-color: $theme-color-error;
   }

   h2 {
    font-size: $theme-h3-font-size; 
    font-family: $theme-font-type-sans; 
    text-align: left; 
    margin-top: 0; 
    margin-bottom: .5rem; 
    padding: 0; 
    &::after {
      border: none; 
    }
  }
}


