//
// Contains styles for Card components
//

.usa-card-group {
  margin-bottom: 0;
  margin-top: 0;
  list-style-type: none;
  padding-left: 0;
}

.usa-prose .usa-card-group {
  margin-bottom: 0;
  margin-top: 0;
  list-style-type: none;
  padding-left: 0;
}

.usa-card-group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

@media all and (min-width: 40em) {
  .usa-card-group {
    flex-direction: row;
  }
}

@media all and (min-width: 40em) {
  .usa-card-group {
    flex-direction: row;
  }
}

.usa-card {
  max-width: none; 
  height: 100%;
}

.usa-card:last-child {
  
}

@media all and (min-width: 40em) {
  .usa-prose .usa-card {
    margin-bottom: 2rem;
  }

  .usa-prose .usa.card:last-child {
    margin-bottom: 2rem;
  }
}

.usa-card__container {
  font-size: 1.06rem;
  line-height: 1.5;
  background-color: white;
  border-width: 2px;
  border-color: #dfe1e2;
  border-style: solid;
  display: flex;
  height: 100%;
  flex-direction: column;
  position: relative;
  border-radius: 0.25rem;

  @include bg-white;
}

.usa-card:not(.usa-card--flag) .usa-card__container > :only-child {
  padding: 1.5rem;
}   

.usa-card .usa-card__img {
  display: block;
}

.usa-card__header {
  padding-bottom: 0.5rem;
  padding-top: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem
}

.usa-card__header:last-child {
  padding-bottom: 1.5rem;
}  

.usa-card__heading {
  font-size: 1.34rem;
  line-height: 1.2;
  margin: 0;
}

.usa-card__media {
  order: -1;
  min-height: 1px;
} 

.usa-card__img {
  border-bottom: 2px solid #dfe1e2;
  border-top-left-radius: calc(0.25rem - 2px);
  border-top-right-radius: calc(0.25rem - 2px);
  background-color: #f0f0f0;
  position: relative;
  overflow: hidden;
}

.usa-card__img img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.usa-card__body {
  flex: 1 1 0%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  flex-basis: auto;
} 

.usa-card__body:last-child {
  padding-bottom: 1.5rem;
} 

.usa-card__body:first-child {
  padding-top: 1.5rem;
}

.usa-card__body:only-child {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
} 

.usa-card__footer {
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.usa-card__footer .usa-button:only-of-type {
  margin-right: 0;
  margin: 0;
  width: 100%;
}

.usa-card__header > :last-child,
.usa-card__body > :last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

.usa-card__header > :first-child,
.usa-card__body > :first-child {
  margin-top: 0;
  padding-top: 0;
}

.usa-card__header > :only-child,
.usa-card__body > :only-child {
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.usa-card__header--exdent,
.usa-card__media--exdent,
.usa-card__footer--exdent {
  margin-left: -2px;
  margin-right: -2px;
}

.usa-card__header--exdent > *,
.usa-card__footer--exdent > * {
  padding-left: 2px;
  padding-right: 2px;
}

.usa-card__media--exdent {
  margin-top: -2px;
}

.usa-card__media--exdent .usa-card__img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.usa-card--header-first .usa-card__body {
  padding-top: 1rem;
}

// Edited this breakpoint for flag cards to reduce the image width.
@media all and (min-width: $sm) {
  .usa-card--flag .usa-card__media {
    display: flex;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    width: 9rem;
  }

  .usa-card--flag .usa-card__img {
    border-radius: 0;
    border-top-left-radius: calc(0.5rem -2px);
    border-bottom-left-radius: calc(0.5rem -2px);
  }

  .usa-card--flag .usa-card__header,
  .usa-card--flag .usa-card__body,
  .usa-card--flag .usa-card__footer {
    margin-left: 9rem;
  }

  .usa-card--flag .usa-card__media--exdent {
    margin-left: -2px;
    margin-right: 0;
    margin-bottom: -2px;
    margin-top: -2px;
  }

  .usa-card--flag .usa-card__media--exdent .usa-card__img {
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
  } 

  .usa-card--flag .usa-card__media--inset {
    padding-right: 0;
    padding-bottom: 1.5rem;
  }

  .usa-card--flag .usa-card__media--inset .usa-card__img {
    border-radius: 0;
  }

  .usa-card--flag.usa-card--header-first .usa-card__header {
    padding-bottom: 0.5rem;
  }

  .usa-card--flag.usa-card--header-first .usa-card__body {
    padding-top: 0.5rem;
  }

  .usa-card--flag.usa-card--header-first .usa-card__media--inset {
    padding-top: 1.5rem;
  }

  .usa-card--flag.usa-card--media-right .usa-card__media {
    left: auto;
    right: 0;
  }

  .usa-card--flag.usa-card--media-right .usa-card__media--inset {
    padding-left: 0;
    padding-right: 1.5rem;
  }

  .usa-card--flag.usa-card--media-right .usa-card__media--inset .usa-card__img {
    border-radius: 0;
  }

  .usa-card--flag.usa-card--media-right .usa-card__img {
    border-radius: 0;
    border-top-right-radius: calc(0.5rem - 2px);
    border-bottom-right-radius: calc(0.5rem - 2px);
  }

  .usa-card--flag.usa-card--media-right .usa-card__header,
  .usa-card--flag.usa-card--media-right .usa-card__body,
  .usa-card--flag.usa-card--media-right .usa-card__footer {
    margin-left: 0;
    margin-right: 9rem;
  }

  .usa-card--flag.usa-card--media-right .usa-card__media--exdent {
    margin-right: -2px;
    margin-left: 0;
  }

  .usa-card--flag.usa-card--media-right .usa-card__media--exdent .usa-card__img {
    border-radius: 0;
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  .usa-card--flag .usa-card__footer .usa-button:only-of-type {
    width: auto;
  }
}

// Added a new breakpoint for flag cards to reduce the image width.
@media all and (min-width: $md) {
  .usa-card--flag .usa-card__media {
    width: 15rem;
  }

  .usa-card--flag .usa-card__header,
  .usa-card--flag .usa-card__body,
  .usa-card--flag .usa-card__footer {
    margin-left: 15rem;
  }

  .usa-card--flag.usa-card--media-right .usa-card__header,
  .usa-card--flag.usa-card--media-right .usa-card__body,
  .usa-card--flag.usa-card--media-right .usa-card__footer {
    margin-right: 15rem;
  }
}

.usa-card:not(.usa-card--flag).usa-card__media--set-aspect {
  box-sizing: border-box;
  height: 0;
  overflow: hidden;
  padding: 0 0 56.25%;
  position: relative;
}

.usa-card:not(.usa-card--flag).usa-card__media--set-aspect .usa-card__img {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

// Fix the height of cards in Layout Builder so the "Add Block" buttons don't
// overflow their container.
.layout-builder__region.layout__region .usa-card {
    height: calc(100% - 6em - 4px);
}

// Reduce size of Book Block title.
.nal-card--book {
  .usa-card__heading {
    font-family: $theme-body-font-family;
    font-size: $theme-body-font-size;
    line-height: 1.3rem;
  }
}

// Add space below Book Author.
.field--name-book-author {
  padding-bottom: .8rem;
}
