.footer {
  padding: 0;
  border: none;
}
.footer__primary-section{
  @include bg-base-lightest();

  ul.nav {
    display: flex;
    flex-wrap: wrap;
   li {
     padding-left: 1rem;
     padding-right: 1rem;
      &:first-child {padding-left: 0;}

      a {
        color: $theme-color-base-ink;
        padding-left: 0;
        padding-right: 0;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-weight: $theme-font-weight-bold;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.region-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  > * {
    flex-grow: 1;
  }

  > .block-nal-social-icons {
    flex-grow: 0;
  }
}

.footer__secondary-section{
  @include bg-base-lighter();

  padding-top: 2rem;
  padding-bottom: 2rem;

  ul {
    @include unstyled-list;
    @include make-sm-column(8);
    @include media($sm){ column-count: 2; }
    @include media($md){ column-count: 3; }

    li {
      margin-top: 1rem;

      &:first-child{
        margin-top: 0;
      }

      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  form {
    @include make-sm-column(4);
    .sign_up-header{
      margin: 0;
      font-size: $theme-h4-font-size;
    }

    label {
      margin-top: 1rem;
      font-weight: $theme-font-weight-normal;
    }
  }
}

// Footer without sign-up form 
.footer__secondary-section--no-signup { 
  ul {
     width: 100%;
    @include media($sm){ column-count: 3; }
    @include media($md){ column-count: 4; }
  }
}