//
// @file
// Contains styles for the Process List component.
//
// @see https://github.com/uswds/uswds/blob/develop/src/stylesheets/components/_process-list.scss
//

.usa-process-list {
  font-family: $theme-body-font-family;
  font-size: $theme-body-font-size;
  line-height: 1.5;
  margin-bottom: 0;
  margin-top: 0;
  list-style-type: none;
  padding-left: 0;
  counter-reset: usa-numbered-list;
  padding: 20px 0 0 calc(((2.5rem/2) - (.5rem/2)));
  position: relative;

  // Use increased specificity to override unstyled-list()
  & > .usa-process-list__item {
    max-width: 72ex;
  }
}

.usa-process-list__item {
  border-left: .5rem solid #d9e8f6;
  font-size: $theme-body-font-size;
  margin-bottom: 0;
  padding-bottom: 2rem;
  padding-left: calc(calc((2.5rem/2) - .25rem)*2);

  &:last-child {
    border-left: .5rem solid transparent;
  }

  &::before {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 99rem;
    background-color: #fff;
    border: .25rem solid #1b1b1b;
    box-shadow: 0 0 0 0.25rem #fff;
    color: #1b1b1b;
    content: counter(usa-numbered-list,decimal);
    counter-increment: usa-numbered-list;
    display: flex;
    font-family: $theme-body-font-family;
    font-size: 1.33rem;
    font-weight: 700;
    height: 2.5rem;
    left: 0;
    line-height: .9;
    margin-top: -.4rem;
    position: absolute;
    width: 2.5rem;
  }

  ul {
    list-style-type: disc;

    li {
      margin-bottom: .25rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

.usa-process-list__heading {
  font-size: 1.33rem;
  line-height: 1.1;
  color: #1b1b1b;
  font-family: $theme-body-font-family;
  font-weight: 700;
  margin: 0;

  & + * {
    margin-top: .25rem;
  }
}

// Override colors for 508
.usa-process-list__heading {
  color: unset;
}

.layout--bg--base-lightest {
  .usa-process-list__item {
    border-left-color: $theme-color-primary;

    &:last-child {
      border-left-color: transparent;
    }
  }
}
