{#
/**
 * @file
 * Theme override to display a facet result item.
 *
 * CHANGELOG
 * - 508: Added hidden text to make the link's intent clear.
 * - Added the USWDS Tag component classes to a wrapper <span>.
 *
 * Available variables:
 * - value: The item value.
 * - raw_value: The raw item value.
 * - show_count: If this facet provides count.
 * - count: The amount of results.
 * - is_active: The item is active.
 * - facet: The facet for this result item.
 *   - id: the machine name for the facet.
 *   - label: The facet label.
 *
 * @ingroup themeable
 */
#}
<span class="usa-tag nal-tag--disabled-light"><span class="visually-hidden">Remove </span><span class="facet-item__value">{{ value }}</span><span class="visually-hidden"> filter</span>
{% if show_count %}
  <span class="facet-item__count">({{ count }})</span>
{% endif %}
</span>

